<!-- Test templates by Damian Schumacher / Nicolai Zaccariello-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>


        <form id="productEditForm" name="productEditForm" th:action="@{/product/edit}"  th:object="${product}" method="post">
            <div th:if="${#fields.hasErrors('*')}">
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                </ul>
            </div>

            <div>
                <input type="hidden" th:field="*{id}" />

                <table>

                    <tr>
                        <td>
                            code
                        </td>
                        <td>
                            <input type="text" id="inputCode" name="inputCode"
                                   th:field="*{code}"
                                   required="required"
                                   class="form-control"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            name
                        </td>
                        <td>
                            <input type="text" id="inputName" name="inputName"
                                   th:field="*{name}"
                                   required="required"
                                   class="form-control"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            description
                        </td>
                        <td>
                            <input type="text" id="inputDescription" name="inputDescription"
                                   th:field="*{description}"
                                   class="form-control"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            price
                        </td>
                        <td>
                            <input type="number" id="inputPrice" name="inputPrice"
                                   th:field="*{price}"
                                   min="1" max="10000000"
                                   step="0.01"
                                   required="required"
                                   class="form-control"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            available
                        </td>
                        <td>
                            <input type="checkbox" th:field="*{available}" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            quantity
                        </td>
                        <td>
                            <input type="number" id="inputQuantity" name="inputQuantity"
                                   th:field="*{quantity}"
                                   class="form-control text-right"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            maxNumberOfProducts
                        </td>
                        <td>
                            <input type="number" id="inputMaxNumberOfProducts" name="inputMaxNumberOfProducts"
                                   th:field="*{maxNumberOfProducts}"
                                   class="form-control text-right"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            minPalletSpaces
                        </td>
                        <td>
                            <input type="number" id="inputMinPalletSpaces" name="inputMinPalletSpaces"
                                   th:field="*{minPalletSpaces}"
                                   step="0.1"
                                   class="form-control text-right"
                            />

                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <button type="submit">Send</button>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </body>
</html>