<!-- Test templates by Damian Schumacher / Nicolai Zaccariello-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>

        <table id="productTable">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Available</th>
                <th></th>
            </tr>
            <tr th:if="${#lists.isEmpty(products)}">
                <td colspan="5">No Entries.</td>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}">PRODUCT_ID</td>
                <td th:text="${product.name}">PRODUCT_NAME</td>
                <td th:text="${product.price}">PRODUCT_PRICE</td>
                <td th:text="${product.available}">PRODUCT_AVAILABLE</td>
                <td>
<!--                    <a th:href="@{/product/${product.id}/details(id=3,action='show_all')}">-->
<!--                    <button type="submit">-->
<!--                        <span>VIEW</span>-->
<!--                    </button>-->
<!--                    <button type="submit">-->
<!--                        <span>EDIT</span>-->
<!--                    </button>-->
                    <a th:href="@{/product/view/} + ${product.id}">VIEW</a>
                    <a th:href="@{/product/edit/} + ${product.id}">EDIT</a>
                </td>
            </tr>
        </table>

    </body>
</html>