<!-- Design Damian Schumacher / Nicolai Zaccariello-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>truewayitproject</title>
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v1/toolkit.min.css">

    <link rel="stylesheet" type="text/css"
          href="/static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/fonts.googleapis.css"
          th:href="@{/css/fonts.googleapis.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/pikaday.min.css"
          th:href="@{/css/pikaday.min.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/Like-Button.css"
          th:href="@{/css/Like-Button.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/Login-Form-Basic.css"
          th:href="@{/css/Login-Form-Basic.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/Logo.css"
          th:href="@{/css/Logo.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/NZTextarea.css"
          th:href="@{/css/NZTextarea.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/untitled-1.css"
          th:href="@{/css/untitled-1.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/untitled.css"
          th:href="@{/css/untitled.css}"
    />

</head>

<body>
    <header><h1 class="text-center" style="margin-top: 30px;margin-bottom: 30px;">Product description</h1></header>
    <div class="container"></div>
    <div class="container">
        <h1 class="text-center" style="margin-top: 30px;margin-bottom: 30px;">Product description</h1>

        <div th:object="${product}" class="row"> <!-- Scope Product ... -->

            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <img th:src="@{${'/api/image/' + product.code}}" class="img-thumbnail img-fluid center-block">
                    </div>
                </div>
                <!-- TODO: Auskommentiert, wären zusätzliche Bilder im Falle, dass wir es noch implementieren möchten.-->
<!--                <div class="row">-->
<!--                    <div class="col-6 col-sm-6 col-md-6">-->
<!--                        <img class="img-thumbnail img-fluid center-block" th:src="@{/img/Glass_of_Milk_(33657535532).jpg}">-->
<!--                    </div>-->
<!--                    <div class="col">-->
<!--                        <img class="img-thumbnail img-fluid center-block" th:src="@{/img/milk.jpg}">-->
<!--                    </div>-->
<!--                </div>-->
            </div>

            <div class="col-md-5">
                <h1 th:text="${product.name}">PRODUCT_NAME</h1>
                <p th:text="${product.description}">PRODUCT_DESCRIPTION</p>
                <h2 class="text-center text-success"> <!-- TODO: Price with <i> -->
                    <i class="fa fa-euro"></i>&nbsp;[[${product.price}]]
                </h2>

                <form th:action="@{/shoppingcart/shoppingcart}" method="post">
                    <div data-reflow-type="add-to-cart" style="padding: 0px;margin-left: 120px;margin-top: 20px;" data-reflow-product="43218622" data-reflow-variant="199976733_s">
                        <div class="ref-product-controls">
                            </select>
                            </label>
                        </div>
                        <span data-reflow-variant="199976733_s" data-reflow-product="43218622" data-reflow-max-qty="999" data-reflow-quantity="1">
                            <div class="ref-quantity-widget">
                                <div class="ref-decrease">
                                    <span></span>
                                </div>

                                <input type="hidden" name="productId" th:value="${product.id}" />
                                <input type="text" name="quantity" value="1" />

                                <div class="ref-increase">
                                    <span></span>
                                </div>
                            </div>
                        </span>

                        <button class="ref-button" type="submit" style="margin-right: 20px;background: rgb(27, 119, 179);">Add to Cart</button>
<!--                        <a class="ref-button" href="#">Add to Cart</a>-->
                    </div>
                </form>
           </div>



           <div data-reflow-type="add-to-cart"></div>
            </div>




        </div>
<!--    </div>-->


    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav nav-tabs ms-auto">
            <li class="nav-item"></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/product}">Products</a></li>
            <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/account/register}">Register</a></li>
            <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
        </ul>
    </div>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="--bs-primary: #95ff0e;--bs-primary-rgb: 149,255,14;--bs-secondary: #7a7d6c;--bs-secondary-rgb: 122,125,108;">
        <div class="container">
            <picture style="padding-right: 10px;"><img class="rounded" th:src="@{/img/trueway-logo-2022.png}" width="50" style="height: 41.9531px;width: 68px;"></picture><a class="navbar-brand logo" href="../homepage">TRUEWAY</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/product}">Products</a></li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/account/accountregister}">Register</a></li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
                </ul>

                <span class="navbar-text" style="margin-right: 20px;" >[[${#httpServletRequest.remoteUser}]]</span>

                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <button class="btn btn-primary" type="submit" style="margin-right: 20px;background: rgb(129,197,241);">Logout</button>
                    </form>
                </div>

            </div><a class="btn btn-primary ms-auto" role="button" th:href="@{/shoppingcart/shoppingcart}" style="background: rgb(33,102,147);" data-bs-target="Sh">Shopping Cart</a>
        </div>
    </nav>
    <script type="text/javascript"
            src="/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"
    ></script>
    <script type="text/javascript"
            src="/js/bs-init.js"
            th:src="@{/js/bs-init.js}"
    ></script>
    <script type="text/javascript"
            src="/js/toolkit.min.js"
            th:src="@{/js/toolkit.min.js}"
    ></script>
    <script type="text/javascript"
            src="/js/pikaday.min.js"
            th:src="@{/js/pikaday.min.js}"
    ></script>
    <script type="text/javascript"
            src="/js/Like-Button.js"
            th:src="@{/js/Like-Button.js}"
    ></script>
    <script type="text/javascript"
            src="/js/theme.js"
            th:src="@{/js/theme.js}"
    ></script>
</body>

</html>