<!-- Design Damian Schumacher / Nicolai Zaccariello-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>truewayitproject</title>


    <link rel="stylesheet" type="text/css"
          href="/static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/fonts.googleapis.css"
          th:href="@{/css/fonts.googleapis.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/pikaday.min.css"
          th:href="@{/css/pikaday.min.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/Like-Button.css"
          th:href="@{/css/Like-Button.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/Login-Form-Basic.css"
          th:href="@{/css/Login-Form-Basic.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/Logo.css"
          th:href="@{/css/Logo.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/NZTextarea.css"
          th:href="@{/css/NZTextarea.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/untitled-1.css"
          th:href="@{/css/untitled-1.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/untitled.css"
          th:href="@{/css/untitled.css}"
    />

</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="--bs-primary: #95ff0e;--bs-primary-rgb: 149,255,14;--bs-secondary: #7a7d6c;--bs-secondary-rgb: 122,125,108;">
        <div class="container">
            <picture style="padding-right: 10px;"><img class="rounded" th:src="@{/img/trueway-logo-2022.png}" width="50" style="height: 41.9531px;width: 68px;"></picture><a class="navbar-brand logo" href="../homepage">TRUEWAY</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link active" th:href="@{/product}">Products</a></li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/account/register}">Register</a></li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
                </ul>
            </div><a class="btn btn-primary ms-auto" role="button" th:href="@{/shoppingcart/shoppingcart}" style="background: rgb(33,102,147);" data-bs-target="Sh">Shopping Cart</a>
        </div>
    </nav>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="--bs-primary: #95ff0e;--bs-primary-rgb: 149,255,14;--bs-secondary: #7a7d6c;--bs-secondary-rgb: 122,125,108;">
        <div class="container">
            <picture style="padding-right: 10px;"><img class="rounded" th:src="@{/img/trueway-logo-2022.png}" width="50" style="height: 41.9531px;width: 68px;"></picture><a class="navbar-brand logo" href="../homepage">TRUEWAY</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/product}">Products</a></li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/account/accountregister}">Register</a></li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link active" th:href="@{/login}">Login</a></li>
                </ul>

                <span class="navbar-text" style="margin-right: 20px;" >[[${#httpServletRequest.remoteUser}]]</span>

                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <button class="btn btn-primary" type="submit" style="margin-right: 20px;background: rgb(129,197,241);">Logout</button>
                    </form>
                </div>

            </div><a class="btn btn-primary ms-auto" role="button" th:href="@{/shoppingcart/shoppingcart}" style="background: rgb(33,102,147);" data-bs-target="Sh">Shopping Cart</a>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <picture style="padding-bottom: 10px;"><img class="rounded" th:src="@{/img/trueway-logo-2022.png}" width="150" style="height: 140px;width: 200px;"></picture>
                <h1 class="text-center" style="margin-bottom: 63px;">TRUEWAY - IT PROJECT&nbsp;2022</h1>
                <div class="about-me"></div>
            </div>
            <p style="margin: -17px;">Welcome to our IT project - Trueway!<br>&nbsp;Here in this webshop you can order from four very tasty products. <br>Get started and select the best milk, chocolate, bread and butter in Switzerland!</p>
        </section>
        <section class="portfolio-block photography">
            <div class="container">
                <div class="row">

                    <div th:each="product : ${products}" class="col-md-6 col-lg-4">
                        <div class="card border-0">
                            <a th:href="@{${'/product/' + product.id}}" >
                                <img th:src="@{${'/api/image/' + product.code}}" class="card-img-top scale-on-hover">
                            </a>
                            <div class="card-body"></div>
                        </div>
                        <input class="form-control-plaintext" type="text" th:value="${product.name}" readonly="">
                    </div>

                </div>
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content"></div>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="../homepage">About us</a></div>
            <div class="social-icons"></div>
        </div>
    </footer>
    <script type="text/javascript"
            src="/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"
    ></script>
    <script type="text/javascript"
            src="/js/bs-init.js"
            th:src="@{/js/bs-init.js}"
    ></script>
    <script type="text/javascript"
            src="/js/pikaday.min.js"
            th:src="@{/js/pikaday.min.js}"
    ></script>
    <script type="text/javascript"
            src="/js/Like-Button.js"
            th:src="@{/js/Like-Button.js}"
    ></script>
    <script type="text/javascript"
            src="/js/theme.js"
            th:src="@{/js/theme.js}"
    ></script>
</body>

</html>