<!-- Test templates by Damian Schumacher / Nicolai Zaccariello-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>

    <div th:object="${product}">
        <table border="1">
            <tr>
                <td>ID</td>
                <td th:text="${product.id}"></td>
            </tr>
            <tr>
                <td>NAME</td>
                <td th:text="${product.name}"></td>
            </tr>
            <tr>
                <td>PRICE</td>
                <td th:text="${product.price}"></td>
            </tr>
        </table>
    </div>


<!--        s-->

    </body>
</html>