button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

textarea {
  overflow: auto;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*box-sizing: border-box;*/
}

