<!--Flavio Heim / Design Damian Schumacher-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>truewayitproject</title>

    <link rel="stylesheet" type="text/css"
          href="/static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/fonts.googleapis.css"
          th:href="@{/css/fonts.googleapis.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/pikaday.min.css"
          th:href="@{/css/pikaday.min.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/Like-Button.css"
          th:href="@{/css/Like-Button.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/Login-Form-Basic.css"
          th:href="@{/css/Login-Form-Basic.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/Logo.css"
          th:href="@{/css/Logo.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/NZTextarea.css"
          th:href="@{/css/NZTextarea.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/untitled-1.css"
          th:href="@{/css/untitled-1.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/untitled.css"
          th:href="@{/css/untitled.css}"
    />

</head>

<body>
    <div class="col-lg-12 d-lg-flex justify-content-lg-center">
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">User Settings</p>
            </div>
            <div class="card-body"></div>
            <div class="card-body">
                <div class="container">
                    <header><input class="form-control-plaintext" type="text" value="Create an account here!" readonly=""></header>
                </div>
                <form th:action="@{/account/accountregister}" method="post">
                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-3">
                                <label class="form-label" for="email"><strong>Email Address</strong></label>
                                <input class="form-control" type="email" placeholder="user@example.com" name="email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-3">
                                <label class="form-label" for="first_name"><strong>First Name</strong></label>
                                <input class="form-control" type="text" placeholder="John" name="name">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-3">
                                <label class="form-label" for="last_name"><strong>Last Name</strong></label>
                                <input class="form-control" type="text" placeholder="Doe" name="surname">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-3">
                                <label class="form-label" for="street_and_nr"><strong>Street name and number</strong></label>
                                <input class="form-control" type="text" placeholder="Jurastr. 20" name="address.street">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-3">
                                <label class="form-label" for="city_name"><strong>City</strong><br></label>
                                <input class="form-control" type="text" placeholder="Basel" name="address.city">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-3">
                                <label class="form-label" for="zip_code"><strong>ZIP</strong>&nbsp;Code</label>
                                <input class="form-control" type="text" placeholder="4053" name="address.zipCode">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-3">
                                <label class="form-label" for="first_name"><strong>New Password</strong><br></label>
                                <input class="form-control" type="password" name="password">
                            </div>
                        </div>
                    </div>
                   <div class="row">
                       <div class="col">
                           <div class="form-group mb-3">
                               <label class="form-label" for="first_name"><strong>Please calculate the distance between our warehouse address and your address!</strong><br>Warehouse: FHNW, Peter Merian-Strasse 86, 4002 Basel<br><strong>Look up on google maps the km numbers and provide it in the field below.</strong><br></label>-->
                               <input class="form-control" type="text" placeholder="34" name="distance">
                            </div>
                      </div>
                   </div>
                    <div class="form-group mb-3" style="text-align: center;">
                        <button class="btn btn-primary btn-sm" type="submit" style="text-align: center;margin-top: 23px;">Save Settings</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
        <li class="nav-item"></li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/product}">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/account/accountregister}">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/login}">Login</a>
        </li>
        </ul>
    </div>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="--bs-primary: #95ff0e;--bs-primary-rgb: 149,255,14;--bs-secondary: #7a7d6c;--bs-secondary-rgb: 122,125,108;">
        <div class="container">
            <picture style="padding-right: 10px;"><img class="rounded" th:src="@{/img/trueway-logo-2022.png}" width="50" style="height: 41.9531px;width: 68px;"></picture><a class="navbar-brand logo" href="../homepage">TRUEWAY</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/product}">Products</a></li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link active" th:href="@{/account/accountregister}">Register</a></li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
                </ul>

                <span class="navbar-text" style="margin-right: 20px;" >[[${#httpServletRequest.remoteUser}]]</span>

                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <button class="btn btn-primary" type="submit" style="margin-right: 20px;background: rgb(129,197,241);">Logout</button>
                    </form>
                </div>

            </div><a class="btn btn-primary ms-auto" role="button" th:href="@{/shoppingcart/shoppingcart}" style="background: rgb(33,102,147);" data-bs-target="Sh">Shopping Cart</a>
        </div>
    </nav>
    <script type="text/javascript"
            src="/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"
    ></script>
    <script type="text/javascript"
            src="/js/bs-init.js"
            th:src="@{/js/bs-init.js}"
    ></script>
    <script type="text/javascript"
            src="/js/pikaday.min.js"
            th:src="@{/js/pikaday.min.js}"
    ></script>
    <script type="text/javascript"
            src="/js/Like-Button.js"
            th:src="@{/js/Like-Button.js}"
    ></script>
    <script type="text/javascript"
            src="/js/theme.js"
            th:src="@{/js/theme.js}"
    ></script>
</body>

</html>