<!-- Damian Schumacher / Nicolai Zaccariello-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>truewayitproject</title>
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v1/toolkit.min.css">

    <link rel="stylesheet" type="text/css"
          href="/static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/fonts.googleapis.css"
          th:href="@{/css/fonts.googleapis.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/pikaday.min.css"
          th:href="@{/css/pikaday.min.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/Like-Button.css"
          th:href="@{/css/Like-Button.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/Login-Form-Basic.css"
          th:href="@{/css/Login-Form-Basic.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/Logo.css"
          th:href="@{/css/Logo.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/NZTextarea.css"
          th:href="@{/css/NZTextarea.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/untitled-1.css"
          th:href="@{/css/untitled-1.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/untitled.css"
          th:href="@{/css/untitled.css}"
    />

</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="--bs-primary: #95ff0e;--bs-primary-rgb: 149,255,14;--bs-secondary: #7a7d6c;--bs-secondary-rgb: 122,125,108;">
        <div class="container">
            <picture style="padding-right: 10px;"><img class="rounded" th:src="@{/img/trueway-logo-2022.png}" width="50" style="height: 41.9531px;width: 68px;"></picture><a class="navbar-brand logo" href="../homepage">TRUEWAY</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/product}">Products</a></li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/account/accountregister}">Register</a></li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
                </ul>

                <span class="navbar-text" style="margin-right: 20px;" >[[${#httpServletRequest.remoteUser}]]</span>

                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <button class="btn btn-primary" type="submit" style="margin-right: 20px;background: rgb(129,197,241);">Logout</button>
                    </form>
                </div>

            </div><a class="btn btn-primary ms-auto" role="button" th:href="@{/shoppingcart/shoppingcart}" style="background: rgb(33,102,147);" data-bs-target="Sh">Shopping Cart</a>
        </div>
    </nav>

    <div th:object="${user}" class="container" style="text-align: center;margin-top: 80px;">
        <div data-reflow-type="order-status">
            <div class="reflow-order-status">
                <div class="col">
                    <div class="ref-order-info">
                        <h2>Order #2050714543</h2>
                        <div class="ref-order-line ref-status"><b>Status</b>is being processed</div>
                        <div class="ref-order-line ref-created"><b>Created</b><p>LOCAL_TIME</p></div>
                    </div>
                </div>
                <div class="col">
                    <div class="ref-order-customer">
                        <h2>Customer Details</h2>
                        <div class="ref-order-line ref-customer-name"><b>Name</b><p th:text="${user.getSurname()} + ' ' + ${user.getName()}">USER_NAME</p></div>
                        <div class="ref-order-line ref-customer-email"><b>Email</b>[[${#httpServletRequest.remoteUser}]]</div>
                    </div>
                </div>
                <div class="col">
                    <div class="ref-order-billing">
                        <h2>Billing</h2>
                        <div class="ref-order-line ref-billing-address"><b>Billing Name</b><p th:text="${user.getSurname()} + ' ' + ${user.getName()}">USER_NAME</p></div>
                        <div class="ref-order-line ref-billing-address"><b>Billing Address</b><span>Address: [[${user.address.street}]]</span><span>City: [[${user.address.city}]]</span><span>ZipCode: [[${user.address.zipCode}]]</span><span>Country: Switzerland</span></div>
                    </div>
                </div>
                <div class="col">
                    <div class="ref-order-shipping">
                        <h2>Shipping</h2>
                        <div class="ref-order-line ref-shipping-address"><b>Shipping Address</b><span>Address: [[${user.address.street}]]</span><span>City: [[${user.address.city}]]</span><span>ZipCode: [[${user.address.zipCode}]]</span><span>Country: Switzerland</span></div>
                    </div>
                </div>
                <div class="col">
                    <div class="ref-line-items">
                        <h2>Order Summary</h2>
                        <div th:each="position : ${user.shoppingCart.shoppingCartPositions}" class="ref-order-line ref-line-item ref-product-line">
                            <span th:text="${position.productQuantity}" class="item-quantity">
                                PRODUCT_QUANTITY
                            </span> x
                            <span th:text="${position.product.name}">PRODUCT_NAME</span>
                            <div th:text="${position.product.price}" class="ref-price"><b></b><small></small></div>
                        </div>
                        <hr />
                        <div class="ref-order-line ref-line-item">Shipping Costs <span th:text="${user.shoppingCart.shippingCost}" >SHIPPING_COSTS</span></div>
                        <hr />
                        <div class="ref-order-line ref-line-item">Total <span th:text="${user.shoppingCart.totalPrice}">TOTAL_PRICE</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-reflow-type="order-status" style="margin-top: 97px;"></div>
    <script type="text/javascript"
            src="/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"
    ></script>
    <script type="text/javascript"
            src="/js/bs-init.js"
            th:src="@{/js/bs-init.js}"
    ></script>
    <script type="text/javascript"
            src="/js/toolkit.min.js"
            th:src="@{/js/toolkit.min.js}"
    ></script>
    <script type="text/javascript"
            src="/js/pikaday.min.js"
            th:src="@{/js/pikaday.min.js}"
    ></script>
    <script type="text/javascript"
            src="/js/Like-Button.js"
            th:src="@{/js/Like-Button.js}"
    ></script>
    <script type="text/javascript"
            src="/js/theme.js"
            th:src="@{/js/theme.js}"
    ></script>
</body>

</html>