<!-- Damian Schumacher / Nicolai Zaccariello-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!--
This body from code line 81 - 162 was also retrieved from GitHub and the last js file speckyboy.js: https://speckyboy.com/free-shopping-cart-css-javascript/
-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>truewayitproject</title>

    <link rel="stylesheet" type="text/css"
          href="/static/css/toolkit.min.css"
          th:href="@{/css/toolkit.min.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/fonts.googleapis.css"
          th:href="@{/css/fonts.googleapis.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/pikaday.min.css"
          th:href="@{/css/pikaday.min.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/Like-Button.css"
          th:href="@{/css/Like-Button.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/Login-Form-Basic.css"
          th:href="@{/css/Login-Form-Basic.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/Logo.css"
          th:href="@{/css/Logo.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/NZTextarea.css"
          th:href="@{/css/NZTextarea.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/untitled-1.css"
          th:href="@{/css/untitled-1.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/untitled.css"
          th:href="@{/css/untitled.css}"
    />
    <link rel="stylesheet" type="text/css"
          href="/static/css/style.css"
          th:href="@{/css/style.css}"
    />

</head>

<body>

<h1 class="text-center" style="margin-top: 100px;margin-bottom: 30px;font-size:40px">Shopping Cart</h1>

<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="--bs-primary: #95ff0e;--bs-primary-rgb: 149,255,14;--bs-secondary: #7a7d6c;--bs-secondary-rgb: 122,125,108;">
    <div class="container">
        <picture style="padding-right: 10px;"><img class="rounded" th:src="@{/img/trueway-logo-2022.png}" width="50" style="height: 41.9531px;width: 68px;"></picture><a class="navbar-brand logo" href="../homepage">TRUEWAY</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/product}">Products</a></li>
                <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/account/accountregister}">Register</a></li>
                <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
            </ul>

            <span class="navbar-text" style="margin-right: 20px;" >[[${#httpServletRequest.remoteUser}]]</span>

            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-primary" type="submit" style="margin-right: 20px;background: rgb(129,197,241);">Logout</button>
                </form>
            </div>

        </div><a class="btn btn-primary ms-auto" role="button" th:href="@{/shoppingcart/shoppingcart}" style="background: rgb(33,102,147);" data-bs-target="Sh">Shopping Cart</a>
    </div>
</nav>
<main>
    <div th:object="${shoppingCart}" class="basket" >
        <div class="basket-labels">
            <ul>
                <li class="item item-heading">Item</li>
                <li class="price">Price</li>
                <li class="quantity">Quantity</li>
                <li class="subtotal">Subtotal</li>
            </ul>
        </div>
        <div th:each="position : ${shoppingCart.shoppingCartPositions}" class="basket-product">
            <div class="item">
                <div class="product-image">
                    <img th:src="@{${'/api/image/' + position.product.code}}" alt="Placholder Image 2" class="product-frame">
                </div>
                <div class="product-details">
                    <h1>
                        <strong>
                            <span th:text="${position.productQuantity}" class="item-quantity">
                                PRODUCT_QUANTITY
                            </span> x
                            <span th:text="${position.product.name}">PRODUCT_NAME</span>
                        </strong>
                        [[${position.product.description}]]
                    </h1>

                    <p>Product Code - [[${position.product.code}]]</p>
                </div>
            </div>
            <div th:text="${position.product.price}" class="price">PRODUCT_PRICE</div>
            <div th:text="${position.productQuantity}" class="quantity">PRODUCT_QUANTITY</div>
            <div th:text="${position.totalPrice}" class="subtotal">PRODUCT_TOTAL_PRICE</div>
            <div class="remove">
                <button>Remove</button>
            </div>
        </div>
    </div>
    <aside>
        <div class="summary">
            <div class="summary-total-items">
                <span th:text="${#lists.size(shoppingCart.shoppingCartPositions)}" class="total-items"></span>&nbsp;Items in your Bag
            </div>
            <div th:with="result=${shoppingCart.totalPrice - shoppingCart.shippingCost}" class="summary-subtotal">
                <div class="subtotal-title">Subtotal</div>
                <div th:text="${result}" class="subtotal-value final-value" id="basket-subtotal">130.00</div>
                <div class="summary-promo hide">
                    <div class="promo-title">Promotion</div>
                    <div class="promo-value final-value" id="basket-promo"></div>
                </div>
            </div>
            <div class="shippingcost">
                <div class="total-title">Shippingcost</div>
                <div th:text="${shoppingCart.shippingCost}" class="total-value final-value" id="basket-shippingcost">500.00</div>
            </div>
            <div class="summary-total">
                <div class="total-title">Total</div>
                <div th:text="${shoppingCart.totalPrice}" class="subtotal-value final-value" id="basket-subtotal">SHOPPINGCART_TOTALPRICE</div>
            </div>
            <div>
                <a class="btn btn-primary ms-auto" role="button" th:href="@{/order}" style="background: rgb(33,102,147);" data-bs-target="Sh">Order</a>
            </div>
        </div>
    </aside>
</main>


    <div data-reflow-type="shopping-cart"></div>
    <script type="text/javascript"
            src="/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"
    ></script>
    <script type="text/javascript"
            src="/js/bs-init.js"
            th:src="@{/js/bs-init.js}"
    ></script>
    <script type="text/javascript"
            src="/js/pikaday.min.js"
            th:src="@{/js/pikaday.min.js}"
    ></script>
    <script type="text/javascript"
            src="/js/Like-Button.js"
            th:src="@{/js/Like-Button.js}"
    ></script>
    <script type="text/javascript"
            src="/js/theme.js"
            th:src="@{/js/theme.js}"
    ></script>
    <script type="text/javascript"
        src="/js/speckyboy.js"
        th:src="@{/js/speckyboy.js}"
    ></script>
</body>

</html>